@model Book

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    body {
        background-color: rgb(12, 50, 12);
        font-family: 'Palatino Linotype'
    }

    input, select, textarea {
        display: block;
        box-sizing: border-box;
        width: 70%;
        outline: none;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
    }

    .label {
        display: block;
        margin-bottom: 0.25em;
        color: rgb(255, 255, 153);
        font-style: italic;
        font-size: 2em;
    }

    .input {
        padding: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 153);
        background-color: rgb(12, 50, 12);
        color: rgb(255, 255, 153);
        font-size: 1.5em;
        font-style: initial, italic;
    }

    h1 {
        font-size: 3.5em;
    }
    
    .button-27 {
        appearance: none;
        background-color: rgb(255, 255, 153);
        border: 2px solid dashed #ffffff;
        border-radius: 15px;
        box-sizing: border-box;
        color: rgb(12, 50, 12);
        cursor: pointer;
        display: inline-block;
        
        font-size: 30px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 14px 22px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        will-change: transform;
        float: right;
    }

    .button-27:disabled {
        pointer-events: none;
    }

    .button-27:hover {
        box-shadow: rgb(255, 255, 153) 0 8px 15px;
        transform: translateY(-2px);
    }

    .button-27:active {
        box-shadow: none;
        transform: translateY(0);
    }
</style>

<br/>
<h1 style="color: rgb(255, 255, 153)"><i><b>Add your new book!</b></i></h1>
<br/>

<form method="post" asp-action="Create">
    <label asp-for="Title" class="label" for="input">Title</label>
    <input asp-for="Title" class="input" type="text" id="input"><br />
    <label asp-for="Author" class="label" for="input">Author</label>
    <input asp-for="Author" class="input" type="text" id="input"><br />
    <label asp-for="Price" class="label" for="input">Price</label>
    <input asp-for="Price" class="input" type="text" id="input"><br />
    <label asp-for="Description" class="label" for="input">Description</label>
    <input asp-for="Description" class="input" type="text" id="input"><br />
    <button class="button-27" role="button">Add</button>
</form>
